/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #3f3f3f;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    text-align: center;
    background-color: #252323;
    color: white;
    padding: 10px;
}

/* Estilos para la sección de botones */
section {
    text-align: center;
    background-color: #252323;
    padding: 20px;
}

button {
    margin: 5px;
    background-color: #023242;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Estilos para la tabla de respuestas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #080070;
}

th, td {
    border: 1px solid #202020;
    padding: 8px;
    text-align: left;
}

/* Estilos específicos para la respuesta */
#respuesta {
    margin-top: 20px;
    background-color: #c4bbbb;
    padding: 10px;
}
