body{
    background-color: #232530;
    color: aliceblue;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,td{
    border: 1px solid #060b1d;
    padding: 8px;
    text-align: left;
}

th{
    background-color: #0e043d;
}
input{
    color: wheat;
    background-color: #060b1d;
}

.columna1 {
    width: 20%;
}
.columna2 {
    width: 20%;
}
.columna3 {
    width: 60%;
}