body{
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 6x;
}
table{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    align-content: center;
}
th,td{
    border: 1px solid #7b59b3;
    padding: 8px;
    text-align: center;
    background-color: #2e2b3de5;
}
th{
    background-color: #1e1d20af;
}
button{
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 5px;
    padding: 5px;
}
